.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #161619;
  color: #eee;
  position: relative;
  border-bottom: #88888866 0.3px solid;
}

.navbar h2 {
  font-style: italic;
  font-size: 1.7rem;
  font-weight: 200;
}

.navbar h2 span {
  font-weight: 500;
  font-size: 1.8rem;
  background: linear-gradient(90deg, #6C47FF, #cd17ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.links a {
  text-decoration: none;
  color: #eee;
  font-weight: 300;
}

.links a:hover {
  color: #6C47FF;
}

/* Hamburger button */
.hamburger {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

/* Mobiel */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    width: 40px;
  }

  .links {
    border-top: #88888866 0.3px solid;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #161619;
    padding: 1rem 0;
    gap: 1.5rem;
    align-items: center;
  }

  .links:last-child {
    padding-bottom: 1.5rem;
  }

  .links.open {
    display: flex;
  }

  .links a {
    font-size: 1.2rem;
  }

  .links a:last-child {
    color: #6C47FF;
  }
}

/* Licht thema */
@media (prefers-color-scheme: light) {
  .navbar {
    background-color: #f8f8f8;
    color: #000;
  }

  .links a {
    color: #333;
  }
}
