.schedules-page {
  margin: 2rem 0;
}

.schedules-page h2 {
  margin-left: 4rem;
}

.add-week-button {
  margin: 1rem 0 0 4rem;
}

@media (max-width: 768px) {
  .schedules-page h2 {
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  .add-week-button {
    margin: 1rem 0 0 1rem;
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }
}